<p-card header="Top 3 estúdios vencedores">
  <p-table [value]="topTresEstudios" [tableStyle]="{'min-width': '5rem'}"
           [loading]="loading" [showLoader]="false">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Vitórias</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result>
      <tr>
        <td>{{ result.estudio }}</td>
        <td>{{ result.contagem }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr style="height:46px">
        <td><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></td>
        <td><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></td>
      </tr>
      <tr style="height:46px">
        <td><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></td>
        <td><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></td>
      </tr>
      <tr style="height:46px">
        <td><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></td>
        <td><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
