<div class="grid">
  <div class="col-12 xl:col-6">
  <app-card-anos-com-varios-vencedores></app-card-anos-com-varios-vencedores>
  </div>
  <div class="col-12 xl:col-6">
    <app-card-top3-estudios-vencedores></app-card-top3-estudios-vencedores>
  </div>
</div>

<div class="grid pt-3">
  <div class="col-12 xl:col-6">
    <app-card-intervalo-premios-por-produtor></app-card-intervalo-premios-por-produtor>
  </div>
  <div class="col-12 xl:col-6">
    <app-card-filmes-vencedores-por-ano></app-card-filmes-vencedores-por-ano>
  </div>
</div>
