/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */
@import "primeng/resources/themes/aura-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "primeng-custom";

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at 76% 33%, #e9f0f5 0, #f2f0f4 57%, #f5f5f5 100%);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 250px;
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
  z-index: 1000;
  overflow: hidden;
}

app-sidebar.collapsed {
  width: 80px;
}

app-sidebar a {
  padding: 15px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

app-sidebar a i {
  margin-right: 10px;
}

app-sidebar.collapsed a span {
  display: none;
}

app-sidebar a:hover {
  background: #575757;
}

.content {
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
  margin-top: 80px; /* Ajusta a posição para começar após a navbar */
  padding-top: 20px; /* Adiciona espaçamento entre o conteúdo e a navbar */
  height: calc(100vh - 80px); /* Ajusta a altura para considerar a navbar */
}

.content.collapsed {
  margin-left: 80px;
}

app-navbar {
  width: calc(100% - 250px); /* Subtrai a largura da sidebar */
  background: #1976d2;
  color: white;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 250px; /* Ajusta a posição para começar após a sidebar */
  z-index: 999;
  transition: left 0.3s ease, width 0.3s ease;
}

app-navbar.collapsed {
  width: calc(100% - 80px); /* Subtrai a largura da sidebar colapsada */
  left: 80px; /* Ajusta a posição para começar após a sidebar colapsada */
}

@media (max-width: 768px) {
  app-sidebar {
    width: 80px; /* Largura colapsada */
  }

  app-sidebar.collapsed {
    width: 80px;
  }

  nav a span {
    display: none; /* Esconde o texto dos links */
  }

  .content {
    margin-left: 80px;
  }

  app-navbar {
    width: calc(100% - 80px);
    left: 80px;
  }
}

