.navbar {
  display: flex;
  align-items: center;
  width: calc(100% - 250px); /* Subtrai a largura da sidebar */
  background: #1976d2;
  height: 65px;
  padding: 0 32px;
  line-height: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 250px; /* Ajusta a posição para começar após a sidebar */
  z-index: 999;
  transition: left 0.3s ease, width 0.3s ease;
}

.navbar-titulo {
  color: #fff;

  font-size: 1.2em;
}

.navbar.collapsed {
  width: calc(100% - 80px); /* Subtrai a largura da sidebar colapsada */
  left: 80px; /* Ajusta a posição para começar após a sidebar colapsada */
}
